body {
  background-color: black;
}

h1 {
  text-align: center;
}

.nav_bar {
  width: 100%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New", Courier, monospace;
}
